<section class="section-pagetop bg">
    <div class="container">
      <h2 class="title-page"> Order History </h2>
    </div> <!-- container //  -->
  </section>

  <table class="table table-borderless table-order-history">
    <thead class="text-muted">
      <tr class="small text-uppercase">
        <th scope="col" width="120"> Date </th>
        <th scope="col" > Status</th>
        <th scope="col" width="120">  Total </th>
        <th scope="col" class="text-right" width="200"> </th>
      </tr>
    </thead>