.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }

  .container{
    padding: 20px;
    width: 500px;
    position: relative;
    right: 50px 
    
  }

  .list-group-item:hover{
    background-color: #57bbc1;
  }