<div *ngIf="viewMode; else editable">
  <div *ngIf="currentUser.id">
    <h4>User</h4>
    <div>
      <label><strong>Username:</strong></label> {{ currentUser.username }}
    </div>
    <div>
      <label><strong>Email:</strong></label> {{ currentUser.email }}
    </div>
    <div>
      <label><strong>Password:</strong></label> {{ currentUser.password }}
    </div>

    <div>
      <label><strong> Roles:</strong> </label>
      <div *ngFor="let roles of currentUser.roles"> {{ roles.name }} </div>
    </div>
    <!-- <div *ngFor = 'let roles of currentUser.roles' *ngIf ='roles.name == "ROLE_ADMIN" ? isAdmin = true; false'  >
        <label><strong> Admin Rights: </strong></label>
      </div> -->

    <a class="badge badge-warning" routerLink="{{ currentUser.id }}">
      Edit
    </a>
  </div>

  <div *ngIf="!currentUser">
    <br />
    <p>Please click on a User...</p>
  </div>
</div>

<ng-template #editable>
  <br>
  <a routerLink = "/users"> &emsp; Back </a>
  <div *ngIf="currentUser.id" class="edit-form">
    <h4>User</h4>
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="currentUser.username" name="username" />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="currentUser.email" name="email" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" [(ngModel)]="currentUser.password" name="password" />
      </div>


      <div>
        <div> Allow Admin Priveleges
          <mat-slide-toggle (click)="adminToggle()" [checked]="isAdmin"> </mat-slide-toggle>
        </div>
      </div>


    </form>


    <button class="badge badge-danger mr-2" (click)="deleteUser()">
      Delete
    </button>

    <button type="submit" class="badge badge-success mb-2" (click)="updateUser()">
      Update
    </button>
    <p class = "text-success"> {{ message }}</p>
  </div>

  <div *ngIf="!currentUser.id">
    <br />
    <p>Cannot access this User...</p>
  </div>
</ng-template>