.edit-form {
    max-width: 400px;
    margin: auto;
  }

  .img1{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
  }
  .btn-cart{
    position: fixed, left;
  }
