
  <div *ngIf="currentProduct.id">
    <div>
      <label><strong>Name:</strong></label> {{ currentProduct.name }}
    </div>
    <div>
      <label><strong>Category:</strong></label> {{ currentProduct.category }}
    </div>
    <div>
      <label><strong>Price:</strong></label> {{ currentProduct.price | currency: 'USD' }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentProduct.description }}
    </div>
    <div>
    </div>
    <img src={{currentProduct.image}} class="img1" alt={{currentProduct.description}}>
    <br />
    <br />


    <a class="badge badge-warning" routerLink="/products/{{ currentProduct.id }}">

    </a>
    <button type="submit" class="badge badge-success mb-2" (click)="addProduct(currentProduct)">
      Add to Cart
    </button>

    <div class="alert alert-success" *ngIf = addSuccess role = "alert"> {{currentProduct.name}} succesfully added to the cart! </div>
  </div>

  <div *ngIf="!currentProduct">
    <br />
    <p>Please click on a Product...</p>
  </div>

