<div id="form">
  <div class="container" id="background">
    <header class="jumbotron text-center" style="border-radius: 20px">

      <h1>Welcome to EZ-Shop</h1>

      <p>The online shopping is the process whereby consumers directly<br />
        buy goods and services without any intermediary service over<br />
        the internet. The goal of this website is to develop a web-based<br />
        interface for eCommerce website, the website would be easy to <br />
        use and hence the shopping experience pleasant for the users.</p>

      <p>The main goal of this website is:</p>
      <ul>
        <li>To develop an easy-to-use web-based interface where customers can<br />
          search for products, view a complete description of the product and <br />
          order the product.</li>
        <li>Reach out to a larger audience - interface access is becoming so<br />
          mainstream now that your product/service can reach almost everyone<br />
          on the planet with an internet - enabled device.</li>
        <li>Your virtual shop remains open and operational 24x7 even if you/your<br />
          employee are not working - this might not be wholly true if your product<br />
          is a service - which requires immediate human - intervention.</li>
      </ul>
      <br>
      <a class="btn btn-lg" href="products" role="button" *ngIf="isLoggedIn"> Browse Products</a>


      <br />

      <a href="/register" routerLink="register" class="btn btn-info" *ngIf="!isLoggedIn">Sign Up</a>
      <br /><br />
      <a href="login" class="btn btn-info" *ngIf="!isLoggedIn">Login</a>

    </header>

  </div>
</div>