<!doctype html>
<html lang="en">
<header class="header">
  <h1 class="logo"><a href="#">Ecommerce</a></h1>
  <ul class="main-nav" routerLinkActive="active">
    <li class="nav-item" *ngIf="isLoggedIn">
      <a href="/home" class="nav-link" routerLink="home"><i class="fa-solid fa-house"></i> </a>
    </li>
    <li class="nav-item" *ngIf="showAdminBoard">
      <a href="/admin" class="nav-link" routerLink="admin" >Admin Board</a>
    </li>
    <li class="nav-item">
      <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
    </li>
    
    <li class="nav-item" *ngIf="isLoggedIn">
      <a routerLink="productsU" class="nav-link"><i class="fa-solid fa-shop"></i></a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a routerLink="cart" class="nav-link"><i class="fa-solid fa-cart-shopping"></i></a>
    </li>
  </ul>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="showAdminBoard">
      Admin Links
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink= "products" href="#">Products</a>
      <a class="dropdown-item" routerLink= "users" href="#">User List</a>
      <a class="dropdown-item" routerLink= "add" href="#">Add</a>
    </div>
  </div>




   <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <li class="nav-item">
      <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
    </li>
    <li class="nav-item">&nbsp;|&nbsp;</li>
    <li class="nav-item">
      <a href class="nav-link" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
  </ul>
</header> 
<router-outlet></router-outlet>
</html>

