<div class="container" *ngIf="userProfile; else loggedOut">
  <br>
  <br>
  <header class="card center" style="width: 50%;">
    <h3 style="text-align: center">
      <strong> Edit User Profile </strong>
    </h3>
  </header>
  <div style="width: 100%">
    <div class="container rounded bg-white border" style="width:45%; float: left">
      <div class="row">
        <div class="col-md-1 border-right"> </div>
        <div class="col-md-5 border-right ">

          <!-- Username and Email update -->
          <form>
            <div class="form-group">
              <label for="username">Username </label>
              <input type="text" class="form-control" id="username" [(ngModel)]="userProfile.username"
                name="username" />
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" [(ngModel)]="userProfile.email" name="email" />
            </div>
          </form>

          <br>
          <button class="badge mb-2  " style="width: 150px; float: none" type="submit" (click)="updateUser()"> Save
            Changes
          </button>
          <p>{{ message }}</p>
        </div>
      </div>
    </div>

    <!-- Password update -->
    <div class="container rounded bg-white mt-5 mb-5 border" style=" width: 45%; margin-left: 50%">
      <div class="row">
        <div class="col-md-1 border-right"> </div>
        <div class="col-md-5 border-right">
          <form [formGroup] = updatePasswordForm>
            <div class="form-group">
              <label for="oldPassword"> Old Password </label>
              <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword"
                name="oldPassword" />
              <div *ngIf="oldPassword.touched && oldPassword.errors" class="text-danger">
                <span *ngIf="oldPassword.hasError('required')"> Old Password is required.</span>
              </div>
            </div>

            <div class="form-group">
              <label for="newPassword"> New Password </label>
              <input type="password" class="form-control" id="newPassword"  formControlName="newPassword"
                name="newPassword" />
              <div *ngIf="newPassword.touched && newPassword.errors" class="text-danger">
                <span *ngIf="newPassword.hasError('required')"> New password is required.</span>
              </div>
            </div>

            <div class="form-group">
              <label for="cNewPassword"> Confirm New Password </label>
              <input type="password" class="form-control" id="cNewPassword" formControlName="cNewPassword" />
                <div *ngIf="cNewPassword.touched && cNewPassword.errors" class="text-danger">
                  <span *ngIf="cNewPassword.hasError('required')"> Please confirm new password.</span>
                  <span *ngIf="cNewPassword.hasError('mustMatch')"> Passwords must match.</span>
              </div>
            </div>
          </form>

          <br>
          <button class="badge mb-2" style="width: 150px; float: none" type="submit" (click)="verifyAndUpdate()"> Update Password 
          </button>
          
          <p>{{ message }}</p>



        </div>
      </div>
    </div>
  </div>


</div>


<ng-template #loggedOut>
  Please login.
</ng-template>/