<section class="jumbotron text-center">
    <h1 class="jumbotron-heading"> Product Catalog </h1>
    <p class="lead text-muted"> Extensive list of the latest products. New inventory added daily! </p>
</section>

<div class="container col-md-5 input-group" style="width: 65%">
  <input type="text" style="height: 42px" class="form-control" placeholder="Search by product name"
    [(ngModel)]="name" />
  <span class="input-group-addon">
    <button class="btn btn-outline-secondary fa fa-search" (click)="searchName()"> </button>
  </span>
</div>

<div *ngFor=" let product of products; let i=index" [class.active]="i == currentIndex">
    <div class="col-md-4 " >
      <div class="card mb-4 border">
        <!-- Product Image -->
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
          alt="Card image cap">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <p class="card-text"> {{product.name}} </p>
            </li>
            {{product.price | currency: 'USD'}}
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btnhov btn-sm btn-outline-secondary" (click)="setActiveProduct(product, i)">
                  View</button>
                <button type="button" class="btn btnhov btn-sm btn-outline-secondary"> Add to Cart </button>
              </div>
            </div>
          </ul>
        </div>
      </div>
  </div>
</div>




<div class="col-md-6 popup">
  <app-product-details-user [viewMode]="true" [currentProduct]="currentProduct"></app-product-details-user>
</div>